<div id="site-visits" class="dash-widget-item bgm-teal">
    <div class="dash-widget-header">
        <div class="p-20">
            <div class="dash-widget-visits"></div>
        </div>
        <div class="dash-widget-title">Aggregation</div>
    </div>
    <div class="p-20">

        <small>Activity completed</small>
        <h3 class="m-0 f-400"><%= completed_activities %></h3>

        <br/>

        <small>Activity remaining</small>
        <h3 class="m-0 f-400"><%= total_remaining_goal_activity_occurence %></h3>

        <br/>

        <small>Last Signed in</small>
        <h3 class="m-0 f-400"><small><%= time_ago_in_words(current_user.last_sign_in_at) %></small></h3>
    </div>
</div>
