<div class="card goal-container">
    <div class="card-header">
        <h2>Goals<small>A collection of your goals</small></h2>
        <ul class="actions">
            <li class="dropdown">
                <a href="<%= new_goal_path %>">
                    <i class="md  md-add"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body m-t-0 scrollable">
        <table class="table table-inner table-vmiddle">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Goal name</th>
                    <th style="width: 60px">Due date</th>
                </tr>
            </thead>
            <tbody>
            <% if @goals %>
              <% @goals.each do |goal| %>
                <tr>
                    <td class="f-500 c-cyan"><span class='badge badge-activity'><%= goal.activities.count %></span></td>
                    <td><%= link_to "#{goal.name}", goal_path(goal) %></td>
                    <td class="f-500 c-cyan"><small><%= goal.due_date %></small></td>
                </tr>
              <%end%>
            <%end%>
            </tbody>
        </table>
    </div>
</div>
