<br>
<%= li_for_group(group) do %>
  <a href="/groups/<%=group.id%>">
    <div class="ms-user">
      <%= image_tag group.avatar(:thumb) %>
      <small><%= group.name %></small>
    </div>
  </a>
<% end %>