<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

<section id="content">
	<div class="container">
		<div class="card m-b-0" id="messages-main" style="padding-top:20px">
			<div class="ms-menu">
					<%= render 'groups/groupinfo', group: @group, tags: @tags %>
			</div>
			<div class="ms-body">
				<div class="listview lv-message">
					<div class="lv-header-alt bgm-whilte">
					  <div class="card-body card-padding">
					    <div class="message-scroll">
					      <div class="listview lv-message">
					        <div class="mgroedia-demo">
					          <ul class="comments-list" style="list-type-style:none;">
					            <% @comments.each do |comment| %>
						            <%= render "comments/comment", comment: comment %>
					            <% end %>
					          </ul>
					        </div>
					      </div>
							</div>
						</div>
					</div>
			 	</div>
			 </div>
		</div>
	    <div class="lv-footer ms-reply">
	    	<%= render 'comments/form', commentable: @board %>
	  	</div>
	</div>
</section>