<div class="member-block">
  <%= div_for_user(user) do %>
    <!-- <div class="member-picture"> -->
      <% if !user.uid %>
      <img src="<%=user.avatar.url%>" style="height:auto;width:auto;max-width:50px;max-height:50px;">
        <%#=image_tag user.avatar(:thumb) %><br>
      <% else %>
        <%=image_tag user.image_url %><br>
      <% end %>
    <!-- </div> -->
        <%=user.name %>
    <%# if (user == @group.creator) && (user != @group.creator) %>
      <!-- <button class="destroy">Remove</button> -->
    <%# end %>
  <% end %>
</div>

