<!-- <%#= div_for_board(board) do %>
  <div class="card-body card-padding">
    <div class="message-scroll">
      <div class="listview lv-message">
        <%# @comments = board.comments %>
        <div class="mgroedia-demo">
          <ul style="list-type-style:none;">
            <%#= render @comments %>
          </ul>
        </div>
      </div>
    <div class="lv-footer ms-reply">
      <%#= render 'comments/form', commentable: board %>
    </div>
  </div>
    
  </div>
<%# end %>

 -->