<!-- <div class="col-6">
  <div id="bar-chart" class="flot-chart" style="padding: 0px; position:relative;">
    <canvas class="flot-base" width="453" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 453px; height: 200px;">
      
      
    </canvas>
  </div>
</div> -->