<div class="mini-charts chart-margin">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    <div class="count">
                        <small>Total Activities</small>
                        <h2><%= current_user.activities.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    <div class="count">
                        <small>Total Goals</small>
                        <h2><%= current_user.goals.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                    <div class="count">
                        <small>Total Points</small>
                        <h2><%= current_user.points %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>