<%#= render 'shared_partials/js_charts' %>
<%#= render 'shared_partials/mini_dashboard_charts' %>
<section id="content">
  <div class="container">
    <div class="block-header">
      <h2>Random motivational quote/question here</h2>
    </div>

    <!-- BEGIN GOALS CARD -->
    <div class="card m-v-0" id="messages-main">
      <div class="ms-menu">
        <div class="card m-v-0" id="messages-main">
        
          <div class="ms-block" style="background-color:yellow;height:20px;">
            <div class="ms-user">
              <h5>My Goals</h5>
            </div>
          </div>
          <div class="ms-block">
            <div class="ms-user" style="height:160px">
              <ul>
                <%= render @goals %>
              </ul>
            </div>
          </div>
        </div>
<%= link_to "Create New Goal", new_goal_path %>
    <!-- END OF GOALS CARD -->

    <!-- BEGIN GROUPS CARD -->
        <div class="card m-v-0" id="messages-main">
          <div class="ms-block" style="background-color:yellow;height:20px;">
            <div class="ms-user">
              <h5>My Groups</h5>
            </div>
          </div>
          <div class="ms-block">
            <div class="ms-user" style="height:160px">
              <ul>
                <%= render @groups %>
              </ul>
            </div>
          </div>
        </div>
          <%= link_to "Create New Group", new_group_path %>
    </div>
    <!-- END OF GROUPS CARD -->

    <div class="row" style="padding-left:15px;">
      <div class="ms-body">
      <!-- BEGIN ACTIVITIES CARD -->
          <div class="col-sm-6 m-b-20">
            <div class="card">
              <div class="lv-body">
                <div class="card-header">
                  <h3>
                    Things To Do
                    <small>
                      one step-at-a-time
                    </small>
                  </h3>  
                </div>

                <div class="message-scroll">
                  <div class="listview lv-message">
                    This is where the upcoming activities will go.                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- END ACTIVITIES CARD -->

    <!-- BEGIN FEED CARD -->
        <div class="col-md-4">
          <div class="card">
            <div class="lv-body">
              <div class="card-header">
                <div class="ms-block" style="background-color:blue;height:20px;">
                  <div class="ms-user">
                    <h5>Feed</h5>
                  </div>
                </div>
              </div>

              <div class="message-scroll">
                <div class="listview lv-message">
                  This is where the newsfeed will go.
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- END FEED CARD -->
    </div>
  </div>
</section>