<p>Find me in views/goals/welcome_page!</p>

<p>This page will be rendered when there is no current_user.</p>

<p>This will be the main landing page where users can choose to sign in or sign up</p>

<p>It would be cool to render user testimonies here!</p>