div.message-scroll {
  height: 190px;
  overflow: scroll;
}

div.member-scroll {
  width: auto;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin:0px;
  padding-top: 20px;
  float: left;
  text-align: center;
  position: relative;
  white-space: nowrap;
  background-color: yellow;
}

div.hidden {
  background-color: #00FF00;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

div.member-block {
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

p.about-group {
  height: 147px;
}

div.member-picture {
  text-align: center;
}

div.form-inline {
  display: inline-block;
}
