div.activities-scroll {
  height: 200px;
  overflow: scroll;
}

.circle {
  background-color: red;
  border: 2px solid #666666;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;

  -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  width: 20px;
  height: 20px;
  z-index: 86;

  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.circle.filled {
  background-color: green;
}

.checked {
  background-color: green;
}

#activities-list li.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

#activities-list li.editing .view {
  display: none;
}

#activities-list li.editing {
  border-bottom: none;
  padding: 0;
}

#activities-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

#activities-list li .edit {
  display: none;
}

#activities-list li.editing:last-child {
  margin-bottom: -1px;
}

/*#activity-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
 /* height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;*/
/*  border: none;*/ /* Mobile Safari */
  /*-webkit-appearance: none;*/
  /*-ms-appearance: none;*/
  /*appearance: none;*/
/*}*/
/*
.hidden {
  display: none;
}

button,
input[type="checkbox"] {
  outline: none;
}*/
/* Checkbox label*/
/*#activity-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}*/
/*End checkbox label */

/* Activity Destroy */
/*
#activity-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  float: right;
}

#activities-list li .destroy:hover {
  color: #af5b5e;
}

li .destroy:after {
  content: '×';
}

li.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}*/
/*#activities-list li:hover .destroy {
  display: block;
}*/
/* End activity destroy*/