<header id="header">
  <ul class="header-inner">
    <a href="/"><strong style="font-size: 40px;font-family:comic sans ms;">SSG</strong><small>Setting SMART Goals</small></a>
    
    <li class="pull-right">
      <ul class="top-menu" style="font-family:comic sans ms;" >
        <% if current_user.image_url %>
          <img src="<%= current_user.image_url %>" style="height:auto;width:auto;max-width:40px;max-height:40px;">
        <% else %>
          <img src="<%=current_user.avatar.url%>" style="height:auto;width:auto;max-width:40px;max-height:40px;">
        <% end %>
        <% if current_user %>
          <%= "Hello #{current_user.name}!" %> |
          <a href="/users/edit"><span style="color:blue">  Edit Profile </span></a>|
          <a href="/users/sign_out"><span style="color:blue;"> Sign Out </span> </a>
        <% else %>
          <a href="/users/sign_up"><span style="color:blue">  Sign Up </span></a>|
          <a href="/users/sign_in"><span style="color:blue;"> Sign In </span> </a>
        <% end %>
      </ul>
    </li>
  </ul>
</header>