<header id="header" style="background-color:#c3e0fb"">
  <ul class="header-inner">
    <li class="logo hidden-xs">
      <a href="/">Goal-Setter</a>
    </li>

    <li class="pull-right">
      <ul class="top-menu" >
        <li id="top-search">
          <a class="tm-search"><%= render 'search/form' %></a>
        </li>
        <!-- <li class="dropdown">
          <a data-toggle="dropdown" class="tm-notification href">
            <i class="tmn-counts">6</i>
          </a>
        </li> -->
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= current_user.points%></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  </ul>

</header>