<header id="header">
  <ul class="header-inner">
    <li class="pull-right" id="top-search"><a class="tm-search"><%= render 'search/form' %></a></li>

    <a href="/"><strong style="font-size: 40px;font-family:comic sans ms;">Goal-Setter</strong></a>
    
    <li class="pull-right">
      <ul class="top-menu" style="font-family:comic sans ms;" >
        <% if current_user.uid %>
          <img src="<%= current_user.image_url %>" style="height:auto;width:auto;max-width:40px;max-height:40px;">
        <% else %>
          <img src="<%=current_user.avatar.url%>" style="height:auto;width:auto;max-width:40px;max-height:40px;">
        <% end %>
        <%= "Hello #{current_user.name}!" %> |
        <a href="/users/edit"><span style="color:blue">  Edit Profile </span></a>|
        <a href="/users/sign_out"><span style="color:blue;"> Sign Out </span> </a>
      </ul>
    </li>
  </ul>
</header>